<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.company.wallpaper</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Library/Scripts/company_wallpaper.sh</string>
    </array>

    <key>StartInterval</key>
    <integer>3600</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/Shared/company_wallpaper/wallpaper.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/Shared/company_wallpaper/wallpaper-error.log</string>
</dict>
</plist>
